:root {
    /* The following variables are overridden in dark mode. */
    --background-color: #f0f0f0;
    --intense-background-color: white;
    --foreground-color: #202020;
    --intense-foreground-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1b1917;
        --intense-background-color: black;
        --foreground-color: #c0c0c0;
        --intense-foreground-color: white;
    }
}

html,
body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: 'Gentium Plus', 'Times New Roman', serif;
    margin: 0;
    height: 100%;
}


.link {
    color: var(--intense-foreground-color);
}

.container {
    display: flex;
}

.container .left,
.container .right {
    padding: 50px;
    box-sizing: border-box;
}

.container .left h1 {
    line-height: 125%;
}

.container .right {
    background-color: var(--intense-background-color);
}

.container .right h2 {
    border-top: 1px solid #80808080;
    padding-top: 10px;
}

/* Two-column layout on desktop. */
@media (min-width: 660px) {
    .container {
        height: 100vh;
        max-width: 1000px;
        /* Center horizontally. */
        margin: 0 auto;
        flex-direction: row;
    }

    .container .left {
        flex: 1 0 150px;
    }

    .container .right {
        flex: 1 0 310px;
        /* Right column is a scroll region. */
        overflow: scroll;
    }
}

/* Stacked layout on narrow screens (e.g. mobile). */
@media (max-width: 660px) {
    .container {
        flex-direction: column;
        /* Entire page as one scroll region. */
        overflow: scroll;
    }

    .container .left {
        /* Vertically fit content. */
        flex: 0 0 content;
    }

    .container .right {
        /* Fill remaining vertical space. */
        flex: 1;
    }
}

.players-entry-table {
    display: grid;
    grid-template-columns: max-content max-content;
}

.players-entry-table .player-name-input,
.players-entry-table .player-name-input-deselected,
.players-entry-table .player-name-remove-button,
.text-button,
.text-button-selected,
.text-button-deselected {
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 17.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    /* 25% translucent gray background color for similar effect in dark/light mode. */
    background-color: #80808040;
    color: var(--foreground-color);
}

.players-entry-table .player-name-input,
.players-entry-table .player-name-input-deselected,
.text-button,
.text-button-selected,
.text-button-deselected {
    padding-left: 15px;
    padding-right: 15px;
}

.players-entry-table .player-name-input:enabled:hover,
.players-entry-table .player-name-remove-button:enabled:hover,
.text-button:enabled:hover {
    background-color: #80808080;
    color: var(--intense-foreground-color);
}

.players-entry-table .player-name-input-deselected,
.text-button-deselected {
    /* 12.5% translucent gray background color for similar effect in dark/light mode. */
    background-color: #80808020;
}

.players-entry-table .player-name-remove-button {
    height: 35px;
    width: 35px;
    text-align: center;
}

.text-button,
.text-button-selected,
.text-button-deselected {
    height: 35px;
    padding-top: 8px;
    padding-bottom: 12px;
    text-transform: capitalize;
    /* Switching from no border to a 1px border nudges the layout.
    A 1px transparent border instead of no border prevents this. */
    border: 1px solid #00000000;
}

.text-button-selected {
    border: 1px solid var(--foreground-color);
}